<div class="fondo">
	<header>

		<div class="logo">

		</div>

		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Logout", destroy_session_path(current_user), method: 
			:delete %><br />
		<% end %>

	</header>
<div class="slogan">
	<p>Sitios de interés  y turísticos</p>
</div>
<div class="content_home">
	<h1>Bienvenido a Medellín</h1>
	<span>Conoce la ciudad de la eterna primavera</span><br>
	<div><a href="http://localhost:3000/categories"> Entrar </a></div> 
</div>
</div> 
	


