<!DOCTYPE html>
<html>
<head>
	<title>AppTurismoMedellin</title>
</head>
<body>
<header></header>
<div class="slogan">
	<p>Sitios de interés  y turísticos</p>
</div>
<div class="content-home">
	<h1>Welcome to Medellin</h1>
	<div>slider</div>
</div>
<footer>Leydi Johana Flórez Saldarriaga</footer>

</body>
</html>

