// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-size: 1.2em;
}

body{
	background: url('medellinHome.jpg') center no-repeat fixed;
	background-size: cover;
}


/*.................................Start Mobile.................................................*/
 body{
 	font-size: 1rem;
 }

 header{
 	background: #000;
 	width: 100%;
 	height: 150px;
 	color:#fff;
 }

 .content_home{
	margin: 0 auto;
	padding: 0px;
	background: rgba(0,0,0, .60);
	width: 100%;
	height: 230px;
	margin-top: 35px;
	text-align: center;
	h1{
		color:#fff;
		padding: 6px;
	}
	span{
		color:#fff;
	}
	div{
		margin: 0 auto;
		padding: 0px;
		background: transparent;
		border: 1px solid #fff;
		width: 90px;
		height: 45px;
		margin-top: 10px;
		a{
			color:#fff;
			text-decoration: none;
		}
	}
}

.content_home div:hover{
			background: rgba(255,255,255,.5);
		}

 .slogan{
 	background: green;
 	margin-top: 10px;
 	height: 30px;
 	p{
 		color:#fff;
 		text-align: center;
 	}
 }
 /*.................................End Mobile...................................................*/

 /*.................................Start Tablet.................................................*/
 @media screen and (min-width: 768px){

 	body{
 		font-size: 1.2rem;
 	}

 	header{
 		background: red;
 	}

 }
 /*.................................End Tablet...................................................*/

 /*.................................Start Desktop................................................*/
 @media screen and (min-width: 992px){

 		body{
 			font-size: 1.5rem;
 		}

 	 	header{
 		background: green;
 	}

 }
 /*..................................End Desktop..................................................*/