@import "variables";


/*.................................Start Mobile.................................................*/

	

 /*.................................End Mobile...................................................*/

 /*.................................Start Tablet.................................................*/
 @media screen and (min-width: 768px){

 	

 }
 /*.................................End Tablet...................................................*/

 /*.................................Start Desktop................................................*/
 @media screen and (min-width: 992px){
.login{
	width: 500px;
	height: 500px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border: 2px solid #0B615E;
	h2{
 	height: 60px;
 	background: #0B615E;
 }
}
 		
 }
 /*..................................End Desktop..................................................*/