/*Funciones*/

@mixin headerD(){

	background: #0B615E;
	opacity: .60;
 	width: 100%;
 	height: 150px;
 	color:#fff;
}

@mixin headerM(){

	background: #0B615E;
	opacity: .60;
 	width: 100%;
 	height: 100px;
 	color:#fff;
}

@mixin general(){
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

@mixin fondo(){
	background-size: cover;
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
}

@mixin logo(){
	margin-left: auto;
 	margin-right: auto;
	width: 210px;
 	height: 85px;
 	background: url('Presentacion.jpg');
 	background-size: cover;
}

@mixin footer(){
	position:fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: #0B615E;
}


