<div class="body">

<header>
 <div class="logo">
 <p>GTM</p>
 Guía Turística Medellín
	</div>

		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Logout", destroy_session_path(current_user), method: 
			:delete %><br />
		<% end %>
	
</header>
    <nav>
      <ul>

    <% @categories.each do |category| %>

        <li><%= link_to category.name, sites_path(category_id: category.id) %></li>


    <% end %>

       </ul>
    </nav>

    <footer>
    	<a href="http://localhost:3000/"><p>Atrás</p></a>
    </footer>

</div>
